:root {
    --main-color: #8EB1C7
}

/* minimal css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

body {color: white; background-color: bisque;} 






/* Section 1 */

.section1 {
    background-image: url(bilder/haas1.png);
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.section1>p
 {
    font-size: 1.6rem;
    margin: 15px 0;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

/* Footer */


.footer1 {
    font-size: 1rem;
    background-color: #E6002C;
    height: 60px;
    padding: 20px 0;
    text-align: center
    
}

.footer1>p {
    color: white;
    text-decoration: none;
}
