/* minimal css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    text-decoration: none;
}

img {
    width: 100%;
}

body {

    color: #222222;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navcolor {
    background-color: #cb0327;
}

.haaslogo {
    height: 47px;
}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background: none;
    border: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 150px;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content a:hover {
    background-color: #8c0c22;
}

.navhead {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.navhead:hover {
    text-decoration: underline;
}

.marginhead {
    margin-right: 30px;
}

/* Section 1 */

.section1 {
    background-image: url(bilder/haas1.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.8s ease;
}

.head1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.section1>p {
    font-size: 1.6rem;
    margin: 15px 0px 5px 0px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

/* Knapper */


.scrolldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -10px;
}

.scroll-btn {
    margin-top: 40px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #E6002C;
    border: 2px solid #E6002C;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.scroll-btn:hover {
    background-color: #E6002C;
    color: white;
}


/* Section 2 */

.section2 {
    background: linear-gradient(270deg, #5d5d5d, #ffffff, #5e5e5e);
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.head2 {
    font-size: 3.5rem;
    margin: 20px 0 60px 0;
    text-align: center;
    background: linear-gradient(90deg, #555555, #ffffff);
    background-clip: text;
    color: transparent;
}

.drivers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;


}


.drivers>div {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    background-color: #575757;
    color: #111;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.drivers>div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.driverhead {
    font-size: 2.6rem;
    text-align: center;
    margin: 20px 0px 30px 0px;
    background: linear-gradient(90deg, #ffffff, #6f6f6f);
    background-clip: text;
    color: transparent;
}

.drivers img {
    width: 80%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.section2p1 {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.driver-number {
    color: #E6002C;
    font-size: 2.6rem;
    margin-left: 5px;
}

#section2 {
    scroll-margin-top: 40px;
}

/* Fade In For Section2 */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* section 3 */

.head3 {
    font-size: 3.3rem;
    margin: 50px 0 30px 0;
    text-align: center;
    background: linear-gradient(90deg, #3c3c3c, #262626);
    background-clip: text;
    color: transparent;

}

.section3 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #fff;
    color: #555;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;

}

.racediv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.race {
    max-width: 400px;

    text-align: center;
}

.race:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    background-color: #E6002C;
    border-radius: 13px;
    cursor: pointer;
}


.race img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#track-map {
    margin: 10px 0 25px;
    width: 40%;
    border-radius: 20px;
}

.head4 {
    font-size: 40px;
    margin: 25px 0 10px;
    color: #555;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 25px;
    color: #aaa;
}

.date {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: #999;
    margin-bottom: 25px;
}

.race:hover .head4,
.race:hover .subtitle,
.race:hover .date {
    color: #fff;
}

.head4,
.subtitle,
.date {
    transition: color 0.3s ease;
}

.head4 {
    font-size: 3.3rem;
    margin: 20px 0 20px 0;
    text-align: center;
    background: linear-gradient(90deg, #3c3c3c, #262626);
    background-clip: text;
    color: transparent;

}

#section3 {
    scroll-margin-top: 40px;
}

/* Section 4 */

.car-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.bildetaljer {
    max-width: 500px;
    background-color: #f8f8f8;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.bildetaljer:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(200, 18, 46, 0.5);
}

.livery-details {
    max-width: 380px;
}

.bildetaljer h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #c8102e;
    margin-bottom: 25px;
    letter-spacing: 0.05em;
    border-bottom: 3px solid #c8102e;
    padding-bottom: 8px;
    width: fit-content;
}

.bildetaljer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.bildetaljer li {
    margin-bottom: 16px;
    position: relative;
    padding-left: 35px;
    font-weight: 500;
    color: #333;
}

.bildetaljer li::before {
    content: "⚙️";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    line-height: 1;
}

.fakta-container {
    margin-top: 60px;
    gap: 40px;
    justify-content: center;
    display: flex;
    cursor: pointer;

}

.fakta {
    background-color: #fff;
    width: 200px;
    height: 120px;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #e0e0e0;
}

.fakta p {
    font-weight: 600;
    font-size: 0.8rem;
    color: #000000;
    line-height: 1.3;
    padding-top: 5px;

}


.fakta:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 30px rgba(200, 18, 46, 0.6), 0 -20px 30px rgba(200, 18, 46, 0.3);
    border: none;
}

.faktaikoner {
    font-size: 2.5rem;
    margin-top: 15px;
    color: #c8102e;
    transition: transform 0.3s ease, color 0.3s ease;

}

.fakta:hover {
    transform: scale(1.2);
    color: #9b0b1e;
}


#section4 {
    scroll-margin-top: 120px;
}

/* section 5 */

.head5 {
    font-size: 3.3rem;
    margin: 40px 0 40px 0;
    text-align: center;
    background: linear-gradient(90deg, #3c3c3c, #262626);
    background-clip: text;
    color: transparent;

}

.psec5 {
    margin: 0 auto 40px auto;
    line-height: 1.5;
}

.sponsors {
    background-color: #f4f4f4;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    color: #1a1a1a;
    margin-top: 70px;
}

.sponsors h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #c8102e;

}

.sponsors p {
    text-align: center;
    max-width: 600px;
    color: black;
}

.sponsordiv {
    margin-bottom: 50px;
}

.sponsordiv h3 {
    font-size: 1.8em;
    color: #000;
    margin-bottom: 20px;
    border-left: 5px solid #c8102e;
    padding-left: 10px;
}

.sponsoroppsett {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    align-items: stretch;
}

.sponsorting {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sponsorting:hover {
    transform: translateY(-5px);
}

.sponsorting img {
    max-width: 100px;
    margin-bottom: 15px;
}

.sponsorting h4 {
    margin: 10px 0 5px 0;
    font-size: 1.2em;
    color: #c8102e;
    margin-top: 5px;
}

.sponsorting p {
    font-size: 0.95em;
    line-height: 1.4;
    margin: 5px 0px 0px 0px;
}

.sponsorbut {
    text-align: center;
    margin-top: 60px;
    margin-bottom: -10px;
}

.but4 {
    background-color: #c8102e;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.but4:hover {
    background-color: #a00d24;
}

.headh3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.phead3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    margin: 0 auto 32px auto;
}

#section5 {
    scroll-margin-top: 40px;
}

/* Car */

.sec4 {
    padding: 75px 0px 50px 0px;
    background-color: #f4f4f4;
}

.head7 {
    font-size: 3.3rem;
    margin: 40px 0 40px 0;
    text-align: center;
    background: linear-gradient(90deg, #3c3c3c, #262626);
    background-clip: text;
    color: transparent;

}

/* Driver 1, 2 og Circuit*/


.layout {
    width: 75%;
    min-width: 75%;
    max-width: 90%;
    margin: 80px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.layout>img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.circuithead {
    font-size: 3rem;
    text-align: center;
    margin: 25px 0px 30px 0px;


}

.Circuitimg {
    width: 80%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacing {
    margin-bottom: 50px;
}

.circuitheader {
    font-size: 3.5rem;
    text-align: center;
    margin: 60px 0px 30px 0px;
    background-color: #c30326e4;
    color: white;
    padding: 15px;

}

.driver1p1 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7;
    margin: 15px 20px 0px 20px;
    padding: 10px;
}

#sec2 {
    scroll-margin-top: 80px;
}


/* Footer */


.footer1 {
    font-size: 1rem;
    background-color: #af0424;
    height: 60px;
    padding: 20px 0;
    text-align: center
}

.footer1>p {
    color: white;
    text-decoration: none;
}

/* Get In Touch */

.getintouchsec {
    padding-top: 75px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
    min-height: 100vh;

}

.kontaktdiv {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    font-family: Arial, sans-serif;
}

.kontakth1 {
    text-align: center;
    color: #000000;
    font-size: 2rem;
    padding: 15px 0px 15px 0px;
}

.kontaktform {
    display: flex;
    flex-direction: column;
}

.kontaktform label {
    margin: 10px 0 5px;
    color: #000000;
    padding: 5px 0px 5px 0px;
}

.kontaktform input,
.kontaktform textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
}

.kontaktform button {
    margin: 25px auto -5px auto;
    padding: 12px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;

}

.kontaktform button:hover {
    background-color: #fff;
    color: #000;
    border: solid 0.5px black;
}

.formstatus {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}



/* Dark Mode */

#toggle-darkmode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#toggle-darkmode:hover {
    background-color: #444;
}

body.dark-mode .section1 {
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
}

body.dark-mode .section2 {
    background: #222;
}

body.dark-mode .drivers>div {
    background-color: #333;
    color: #eee;
}

body.dark-mode .section2p1 {
    color: #ccc;
}

body.dark-mode .head1,
body.dark-mode .head2,
body.dark-mode .head3,
body.dark-mode .head4,
body.dark-mode .head5,
body.dark-mode .driverhead,
body.dark-mode .bildetaljer li,
body.dark-mode .fakta p {
    color: #f1f1f1;
    background: none;
}

body.dark-mode .scroll-btn {
    color: white;
    border-color: white;
}

body.dark-mode .scroll-btn:hover {
    background-color: white;
    color: #222;
}

body.dark-mode .footer1 {
    background-color: #111;
    color: #ccc;
}

body.dark-mode .footer1 p {
    color: #ccc;
}

/* Dark mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

body.dark-mode .section1,
body.dark-mode .section2,
body.dark-mode .section3,
body.dark-mode .section4,
body.dark-mode .layout {
    color: #e0e0e0;
}

body.dark-mode .scroll-btn {
    border-color: #ffffff;
    color: #ffffff;
}

body.dark-mode .scroll-btn:hover {
    background-color: #ffffff;
    color: #121212;
}

body.dark-mode .sponsors,
body.dark-mode .getintouchsec {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

body.dark-mode .sponsors h2,
body.dark-mode .phead3,
body.dark-mode .psec5 {
    color: #ffffff;
}

body.dark-mode .sponsordiv h3 {
    color: #ffffff;
    border-left: 5px solid #c8102e;
    ;
}

body.dark-mode .sponsorting {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
}

body.dark-mode .but4 {
    background-color: #c8102e;
    color: #fff;
}

body.dark-mode .but4:hover {
    background-color: #f7f7f7;
    color: #000;
}

body.dark-mode .fakta {

    background-color: #2a2a2a;

}

body.dark-mode .bildetaljer {
    background-color: #1f1f1f;
    color: #eee;
    box-shadow: 0 12px 28px rgba(255, 69, 97, 0.3);
}

body.dark-mode .bildetaljer h2 {
    color: #ff4561;
    border-color: #ff4561;
}

body.dark-mode .bildetaljer li::before {
    color: #ff4561;
}



/* Dark Mode for Driver 1, 2 og Circuit */

body.dark-mode .layout {
    background-color: #1f1f1f;
    color: #eee;
}

body.dark-mode .layout img {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

body.dark-mode .driver1p1 {
    color: #ccc;
    background-color: transparent;
}

/* Section 3 - Dark Mode  */
body.dark-mode .section3 {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

body.dark-mode .head3 {
    color: #f0f0f0;
    background: none;
}

body.dark-mode .race {
    background-color: #2a2a2a;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .race img {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}

body.dark-mode .head4 {
    color: #e0e0e0;
    background: none;
}

body.dark-mode .subtitle,
body.dark-mode .date {
    color: #ccc;
}